body {
    font-size: 20px;
}

a {
    cursor: pointer;
}

h3 {
    margin-top: 15px !important;
}

.fa-delete {
    color: gray;
    cursor: pointer;
    vertical-align: middle;
}

.fa-delete:hover {
    color: red;
}

button {
    cursor: pointer;
}

.badge {
    font-size: 16px !important;
}

#spinner {
    text-align: center;
    opacity: 1;
    position: fixed;
    left: 50%;
    top: 50%;
}

.indicator-title {
    font-size: 30px;
}

#main {
    margin-top: 15px;
}

.voffset50 {
    margin-top: 50px;
}

.row-title {
    font-weight: bold;
}

.voffset15 {
    margin-top: 15px !important;
}

.col-centered {
    text-align: center;
}

.row {
    margin-top: 15px;
}

.glyph-delete {
    color: gray;
    cursor: pointer;
}

.glyph-delete:hover {
    color: orange;
}

.label-space {
    margin-right: 10px;
}


/*input[type=text] {
    font-size: 20px;
}*/

.order-button {
    width: 36px;
}

#sent {
    display: none;
    text-align: center;
}
