<template name='emailTemplates'>
    <div class='row voffset30'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <h3>Emails Templates</h3>
        </div>
    </div>
    <div class='row voffset30'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <input type='text' id='email-name' placeholder="Email name ..." class="form-control">
        </div>
    </div>
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <input type='text' id='email-subject' placeholder="Email subject ..." class="form-control">
        </div>
    </div>
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <div id="email-text"></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <button id='save-email' class='btn btn-primary btn-block btn-lg'>Save Template</button>
        </div>
    </div>
    <div class='row voffset30'></div>
    {{#each templates}}{{> emailTemplate}} {{/each}}
</template>
